<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.ma.applepay" version="1.0.0">
    <name>ApplePay</name>
    <description>Implements ApplePay request.</description>
    <engines>
        <engine name="cordova" version=">=3.4" />
    </engines>
    <platform name="ios">
        <js-module src="www/applepay.js" name="applepay">
            <clobbers target="ApplePay" />
        </js-module>
        <framework src="PassKit.framework" />
        <header-file src="src/ios/CDVApplePay.h" />
        <source-file src="src/ios/CDVApplePay.m" />
        <framework src="src/ios/InAppSDK.framework" custom="true" />
        <framework src="src/ios/MockAcadiaAPIs.framework" custom="true" />
        <framework src="src/ios/PayeezyClient.framework" custom="true" />
        <config-file target="config.xml" parent="/*">
            <feature name="ApplePay">
                <param name="ios-package" value="CDVApplePay" />
            </feature>
        </config-file>
    </platform>
</plugin>
